*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


.header{
    background-color: red;
    height: 100vh;
    width: 100%;
}

.header nav{
    width: 100%;
    height: 10%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 800px;
    background-color: #1f2937;
}
.logo{
    font-size: 2rem;
    color: white;
    font-family: 'Silkscreen', cursive;
}
.links ul{
    /* border: 1px solid black; */
    display: flex;
    width: 700px;
    justify-content: space-around;
    color: white;
}

.links ul li a{
    color: white ;
    font-family: 'Silkscreen', cursive;
    font-size: 18px;
}

.wrap-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid pink; */
    height: 90%;
    background-color: #1f2937;

}
.main-text{
    /* border: 1px solid black;x     */
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: white;
    font-family: 'Rubik Iso', cursive;
    
}
.main-text p{
    line-height: 30px;
    font-family: 'Silkscreen', cursive;

}
.main-text button{
    padding: 20px 40px;
    font-size: 1.5rem;
    font-family: 'Silkscreen', cursive;
    border-radius: 10px;
    margin-left: -90px;
}
.img-div{
    border: 1px solid black;
    width: 700px;
    height: 600px;
}
.img-div img{
    width: 100%;  
    height: 100%;
    border-radius: 20px;
}



/* second page styling starts here */

.second-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-family: 'Rubik Iso', cursive;
    background-color: #d8d8da;
}
.cards-wraps{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.card{
    width: 20%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Silkscreen', cursive;
    gap: 10px;
}
#card-img{
    width: 70%;
    /* border: 1px solid orange; */
    border-radius: 10px;
}



/* Third page style starts here */

.third-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px  ;
}
.third-page h1{
    font-size: 2rem;
    font-family: 'Rubik Iso', cursive;

}
.third-page p{
    width: 50%;
    line-height: 50px;
    font-size: 25px;
    font-family: 'Silkscreen', cursive;
}



.fourth-page{
    width: 100%;
    height: 70vh;
    background-color: #d8d8da;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Silkscreen', cursive;

}
.signup-banner{
    border: 1px solid black;
    width: 70%;
    display: flex;
    height: 30%;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;    
    background-color: #1f2937;
}
.signup-banner h2{
    margin-bottom: 20px;
    font-family: 'Silkscreen', cursive;

}

.wrap-button button{
    font-size: 25px;
    padding: 20px 40px;
    font-family: 'Rubik Iso', cursive;

}